@import 'common.style.css';
.articleContent {
  position: absolute;

  margin-left: 350px;
  margin-top: 100px;
}

.articleTitleDiv {
  width: 80%;
  color: black;

}

.articleTitle {
  width: 100%;
/*  margin-left: 30%;*/
}

.frame {
  position: fixed;
}

.articlePostButton {
  margin: 30px;

}

.textarea {
  width: 900px;
  height: 300px;
  border: 3px solid #cccccc;
  padding: 5px;
  background-position: bottom right;
  background-repeat: no-repeat;
}