@import 'common.style.css';

.article-Content {
  position: absolute;

  margin-left: 350px;
  margin-top: 100px;
}

.article-Title-Div {
  width: 100%;
  color: black;

}

.article-Title {
  width: 100%;
/*  margin-left: 30%;*/
}

.article-Post-Button {
  margin: 30px;

}

.textarea {
  width: 700px;
  height: 300px;
  border: 3px solid #cccccc;
  padding: 5px;
  background-position: bottom right;
  background-repeat: no-repeat;
}