@import 'common.style.css';

.commentBox {

	/*width: 1000px;*/
	margin-right: 20px;
}

.comment-post-button {
	margin-left: 94%;
}

.commentList-comment {
	background-color: white;
	color: black !important;
	margin-bottom: 28px;
	border: 1px solid lightgrey;
}

.comment-creator {
	color: #3498db;
	font-size: 15px;
	
}

.comment-title {
	display: inline-block;
	width: 100%;
	background: linear-gradient(to bottom, #f1e6e6, white);
	color: lightgray;
}

.comment-text {
	margin-left: 30px;
	font-family: sans-serif !important;
}

.comment-replyer {
	float: right;
	padding-right: 10px;
}

.demo-list-icon {
	width: 500px;
}

.replyToComment.hidden {
	display: none
}

.replyToComment input {
	float: right;
	margin-top: -45px;
	z-index: 100;
	position: relative;
}

.replyToComment textarea {
	width: 100%;
	height: 88px;
}

.mdl-list {
	width: 98% !important;
}

.childComment {
	background-color: beige;
	color: darkgrey;
	text-align: right
}

.childComment p {
	margin-bottom: 0px;
}

.showCommentReplyBox {
	border: 1px solid grey;
	border-radius: 6px;
	color: cornflowerblue;
	cursor: pointer;
}

.replyComment {
	background-color: transparent;
	color: cornflowerblue;
	padding: 5px;
	font-size: 12px;
}