@import 'base.style.css'; /*import fonts*/
/*title css*/
/*//font*/
.title-font{
  font-family: Oswald-Light-Roman, Tahoma, sans-serif;
}

.content-font{
  font-family: 'Source Sans Pro';
  background-color: white;
  color: black;
}


.title{
  font-family: Oswald-Regular-Roman, Tahoma, sans-serif;
  background-color: white;
  color: #B22746;
  font-size: 30px;
}

.subtitle{
  font-family: Oswald-Regular-Roman, Tahoma, sans-serif;
  background-color: white;
  color: #B22746;
  font-size: 25px;
}

@media screen and (max-width: 710px){
.common-button {
  letter-spacing: 1.6px !important;
  font-size: 10px !important;
  padding: 8px 10px !important;
  border-bottom-width: 2px !important;
  margin-right: 29px !important;
}
}

.common-button {
  margin-top: 5px;
  margin-right: 8px;
  display: inline-block;
  color: white;
  background-color: #1a9cb0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-width: 3px;
  float:right;
}

.common-button:hover {
  background-color: #1891A3;
  border-color: rgba(0,0,0,0.5);
}

.common-button:active {
  background-color: #CCC;
  border-color: rgba(0,0,0,0.9);
}
.material-icons{
  vertical-align: top;
}
