@import 'base.style.css'; /*import fonts*/

.backcontent {
  background: url('/app/res/images/background.jpg') center / cover;
  font-family: Oswald-Regular-Roman, Tahoma, sans-serif !important;
}
.content{
  width:40vw;
  margin:auto;
  color:white;
  margin-top:15%;
  border-radius: 8px;
  background-color: rgba(100,100,100,0.4);
}

.content div{
  width:40vw;
  height:auto !important;
}

.content .logo{
  margin:0 auto;
  height:50px;
  width:120px;
}
.content .logo img{
  height :50px;
  width:120px;
}
.content .form{
  width:35vw;
  margin:0 auto;
  margin-top: 10px;
  background-color: white;
  border-radius: 4px;
  padding:10px;
}
.content .info{
  height:100px;
  width:35vw;
  margin:0 auto;
  line-height: 1em;
  font-size:1em;
  font-family: Oswald-Light-Roman, Tahoma, sans-serif !important;
  margin-bottom:20px;
}
.content .control{
  height:50px;
  width:35vw;
  margin:0 auto;
  margin-top:20px;
}
.content .control a{
  margin-top:10px;
  float:right;
  color:white;
  text-decoration: none;
}
.mdl-textfield__input{
  color: #999;
}
.errMsg{
  color:red;
  font-family: Oswald-Light-Roman, Tahoma, sans-serif !important;
}

.topbar{
  position: fixed;
  z-index: 999;
}

.comment{
  z-index: 0;
}





