@import 'main.style.css'; /*import fonts*/

.backcontent {
  font-family: Oswald-Regular-Roman, Tahoma, sans-serif !important;
}

.menu_left {
	width: 20%;
	background-color: #3498db;
	font-size: 20px;
	color: #FFFFFF;
}
.menu_left .new{
	width: 20%;
	background-color: #d35400;
	font-size: 20px;
	color: #FFFFFF;
}