@import 'base.style.css'; /*import fonts*/

.mdl-layout__header{
  background-color: #464547;
  color: white;
  font-size: 1rem;
  height:60px;
  display:block !important;
/*  display:block !important;*/
  font-family: Oswald-Regular-Roman, Tahoma, sans-serif !important;

}
.mdl-layout__header-row{
  padding-left: 25px;
  width: 100vw;
}
.mdl-layout__header .mdl-layout__drawer-button{
  color:white;
  background-color: #666666;
  color: #FFFFFF;
  font-size: 20px;
  font-family: Oswald-Regular-Roman, Tahoma, sans-serif !important;

}
.navi-signup{
	text-decoration: none;
}
.mdl-ripple.is-animating{
	width: 92.5097px;
	height: 92.5097px;
	transform: translate(-50%, -50%) translate(20px, 20px);
}
.mdl-menu__container.is-upgraded.is-visible{
	right: 0px;
	top: 63px;
	width: 196.953px;
	height: 160px;
}
.mdl-menu__outline.mdl-menu--bottom-right{
	width: 92.5097px;
	height: 92.5097px;
	transform: translate(-50%, -50%) translate(20px, 20px);
}
.mdl-menu__container.is-upgraded.is-visible{
	right: 0px;
	top: 63px;
	width: 196.953px;
	height: 160px;
}
.mdl-menu__outline.mdl-menu--bottom-right{
	width: 196.953px;
	height: 160px;
}
.mdl-js-ripple-effect--ignore-events{
	clip: rect(0px 196.953px 160px 0px);
}
.mdl-menu.mdl-menu--bottom-right {
  left: 0;
  right: 0;
}
.mdl-list__item{
  background-color: #464547;
  color: white;
  font-size: 1rem;
  font-family: Oswald-Regular-Roman, Tahoma, sans-serif !important;
  padding : 0px;
  left: 0;
  right: 0;

}

.navi-profile-Img{
  width:45px;
  height:45px;
  border-radius: 95px;
  border:2px solid lightgray;
  margin-right: 10px;  
}