@media screen and (max-width: 1024px) {

  .demo-drawer {
   top: 60px !important;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {

    cursor:pointer; 
    flex-shrink: 0;
    padding: 16px 40px;
    margin: 0;
  }

}

@media screen and (max-width: 525px) {

  .demo-drawer {
    width:80px;
    overflow: hidden;

  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link i {
    cursor:pointer;
    margin-left: -10px;
  }
}

.demo-drawer {
  border: none;
  left: 250px;
  top: 64px;
  background-color: #1a9cb0;
  height: 100vh;
  position: fixed

}

  /* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.demo-navigation {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: Oswald-Regular-Roman, Tahoma, sans-serif !important;
}

.demo-navigation .mdl-navigation__link {
  cursor:pointer;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: white !important;
  height: 100%;
}

.mdl-layout__drawer .mdl-navigation {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;

  padding-top: 0px;
}

.demo-navigation .mdl-navigation__link:hover{
  cursor:pointer;
  background-color: #1891A3 !important;
}
.demo-navigation .mdl-navigation__link .material-icons {
  cursor:pointer;
  font-size: 24px;
  color: white !important;
  margin-right: 32px;
}

.selected{
  background-color:#e87a31;
}






