.mdl-progress__indeterminate{
	margin-top:50%;
}

.article-page{
	border: 2px solid #1a9cb0;
	border-radius: 5px;
	/*height:100vh;*/
	width: 95%;
}


@media screen and (max-width: 1090px) {
.article-page{
	width: 85%;
}
}

@media screen and (max-width: 830px) {
.article-page{
	width: 78%;
}
}

@media screen and (max-width: 680px) {
.article-page{
	width: 68%;
}
}

@media screen and (max-width: 580px) {
.article-page{
	width: 60%;
}
}

@media screen and (max-width: 525px) {
.article-page{
	width: 83%;
}
}


.article-comment{
	padding-left: 10px;
	/*padding-right:300px;*/
	width: 100%;
}

.article-main{
	padding-left: 5px;
	padding-right: 5px;
}
.frame {
	position: absolute;
}
.articleContent {
	position: absolute;
	width:80%;
	margin-left: 250px;
	margin-top: 66px;
}
.authorTag, .dateTag{
	color:lightgrey;
	font-size: 10pt;
}

.article-content{
	background-color: ;
}

.article-title{
	font-size: 20pt;
}
.postDetails-title{
	text-align: center;
}
.postDetails-title h2{
    text-transform: uppercase !important;
}

