.mdl-progress__indeterminate{
	margin-top:50%;
}

.article-page{
	margin: 0 10px;
}

.article-comment{
	padding-left: 10px;
	/*padding-right:300px;*/
	width: 100%;
}

.article-main{
	padding-left: 5px;
	padding-right: 5px;
}
.frame {
	position: absolute;
}
.articleContent {
	position: absolute;
	width:80%;
	margin-left: 250px;
	margin-top: 66px;
}
.authorTag, .dateTag{
	color:lightgrey;
	font-size: 10pt;
}

.article-content{
	margin: 0 5px;
}

.article-title{
	font-size: 20pt;
}
.postDetails-title{
	text-align: center;
}
